@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/OpenSans-Regular.woff') format('woff')
        
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
        url('../fonts/OpenSans-Bold.woff') format('woff')
       
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''),
        url('../fonts/OpenSans-SemiBold.woff') format('woff')
        
}
a:hover{
    font-size: 1.5vw;
    color:brown;
}
button:hover{
    background-color: brown;
    color: white;
}
.aboutus__input:hover{
    border-bottom-color: brown;
}

body {
    background-color: #FFFFFF;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding: 2px 5px 1px 5px;
    }

.header__icon:not(:last-child) {
    margin-right: 0.77vw;;
}
.main{
    padding: 1.4vw 0 0 0;
}
.main__active-foto{
    background-image: url("../img/mainpaint.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
    }
.main__left{
     width: 37.7vw;;
}
.main__foto-link{
    width: 3.65vw;
    height: 4.74vw;
    margin-bottom: 0.4vw;
}
.main__content{
    display: flex;
    flex-direction: row;
}
.main__reset-list{
    list-style: none;
    padding: 0;
    }
a{
    color: black;
}    
.main__ul{
    border: none;
    border-top: 0.5px solid #C4C4C4;
    width: 100%;
    padding: 0.4vw 0vw;
}
.main__right{
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400; 
    padding: 0.6vw 0.2vw 0.1vw 0.6vw; 
    width: 35vw;
}
.main__right-title{
font-family: 'OpenSans-SemiBold';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #333333;
flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
}
.main__right-art{
    font-size: 0.63vw;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #828282;
}
.main__right-reviews{
    font-size: 0.73vw;
    margin-bottom: 2.2vw;
}
.main__right-price{
    font-family: 'OpenSans-Bold'!important;
    font-size: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
    margin-bottom: -0.3vw;
}
.main__active-price{
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.73vw;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-decoration-line: line-through;
    color: #828282;
}
.main__button{
    width: 4.74vw;
    height: 1.25vw;
    border: 1px solid #333333;
    margin-right: 0.5vw;
    margin-bottom: 0.55vw;
    font-size: 0.63vw;
}
.main__select{
    width: 16.5vw;
    height: 2.7vw;
    border: 1px solid #333333;
    padding:  0.2vw 0.2vw 0.2vw 0.4vw;
    font-size: 0.73vw;
    margin-bottom: -0.5vw;
}
.main__size{
    margin-bottom: 2vw;
}
.main__size-buttons{
    background-color: #F2F2F2;
    width: 6.7vw;
    height: 2.29vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.4vw;
}
.main__buttons{
    background-color:  #F2F2F2;
    border: none;
    outline: none;
    height: 1.7vw;
    width: 2vw;
}
.main__input{
    width: 2vw;
    background-color:  #F2F2F2;
    border: none;
    outline: none;
    text-align: center;
    }
.main__card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: -0.3vw;
}
.main__card-button{
    background-color: #333333;
    color: white;
    font-size: 0.79vw;
    width: 10.57vw;
    height:2.29vw;
    margin-right: 0.4vw;
}
.main__button-favourites{
    width: 9%;
    height: 2.29vw;
    background-color: #333333;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main__svg-favourites{
    width:1.25vw;
    height: 1.25vw;
}
.main__right-link{
    font-size: 0.73vw;
}
.main__right-linkp{
    margin-bottom: 0.45vw;
}
.main__services{
    margin-bottom: 0.2vw;
}
.gallery__h2{
    margin: 0 auto;
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.73vw;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333333;
}
.gallery__content{
    display: flex;
    flex-direction: row;
    width: 98%;
    }
.gallery{
    margin-bottom: -1.5vw;
}
.gallery__wrapper{
    display: flex;
    flex-direction: row;
}
.gallery__title{
    margin-bottom: 2vw;
}
.gallery__img-main{
    width: 35.5vw;
}
.gallery__img-first{
    background-image: url('../img/paint6.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 17.7vw;
    height: 17vw;
    margin-right: 0.7vw;
    margin-bottom: 1vw;
    
}
.gallery__img-second{
    background-image: url('../img/paint7.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 17.7vw;
    height: 17vw;
    margin-bottom: 1vw;
    
}
.gallery__img-third{
    background-image: url('../img/paint8.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 17.7vw;
    height: 17.3vw;
    margin-right: 0.7vw;
    
}
.gallery__img-four{
    background-image: url('../img/paint9.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 17.7vw;
    height: 17.3vw;
 }
 .gallery__right{
     padding: 0 1vw;
 }
 .gallery__inner{
     width: 100%;
     height: 100%;
     background: #333333;
     opacity: 0;
     color: white;
 }
 .gallery__inner:hover{
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }
 .gallery__likes-content{
     display: flex;
     flex-direction: row;
 }
 .gallery__icon{
     margin-left: auto;
 }
 x-field{
    display:inline;
    position:relative;
    }
    x-field .close {
    position:absolute;
    padding:0 5px;
    right:0;
    font-size: 1.4vw;
    }
.aboutus__wrapper{
    display: flex;
    flex-direction: row;
   }    
.aboutus__ul{
    list-style: none;
    margin-right: 10vw;
}
.aboutus{
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 0.78vw;
    padding: 7vw 0vw 0vw 8vw;
}
.aboutus__title{
    font-size: 0.83vw;
}
.aboutus__li{
    margin-bottom: 0.5vw;
}
.aboutus__aboutus{
    margin-right: 13.8vw;
    list-style: none;
}
.aboutus__form-title{
    margin-bottom: 2.9vw;
    font-size: 0.83vw;
    letter-spacing: 0.04em;
    }
.aboutus__input{
    height: 2vw;
    width: 22vw;
    padding: 0vw 0vw 0vw 1vw;
    border: none;
    border-bottom: 1px solid;
    margin-bottom: 1vw;
}  
.aboutus__wrapper-button{
    width: 102%;
    text-align: right;
}  
.aboutus__button{
    width: 7.81vw;
    height: 1.88vw;
    background: #FFFFFF;
    border: 1px solid #333333;
    font-size: 0.73vw;
}
.header__burger{
    display: none;
}
.main__size{
    text-decoration: underline;
}
.main__form-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: -0.5vw;
}
.main__fav-content{
    display: flex;
    width: 51%;
}
.aboutus__uls{
    display: flex;
    flex-direction: row;
}
.main__paint1{
    background-image: url('../img/mainpaint.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
 }
 .main__paint2{
    background-image: url('../img/paint1 (1).png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
 }
 .main__paint3{
    background-image: url('../img/paint2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
 }
 .main__paint4{
    background-image: url('../img/paint3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
 }
 .main__paint5{
    background-image: url('../img/paint4.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 45.57vw;
    display: flex;
    flex-direction: column;
    padding: 1.2vw;
    margin-bottom: -0.5vw;
 }
 .header__burger-content{
     display: none;
 }